<div class="h-full w-[17rem] bg-gray-900 rounded shadow-md rounded-none">
    <mat-tab-group class="h-full" disablePagination="true">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="material-symbols-outlined text-white!">chat</mat-icon>
            </ng-template>

            <div class="h-full flex flex-col">
                <div class="flex-1 text-white overflow-y-auto">
                    <div class="chat-container pl-2 pt-2">
                        @for (msg of chatMessages; track msg) {

                            @if (msg.isRoll && msg.rollData) {
                                
                                <div class="bg-white text-black rounded-md p-3 mt-1 mb-1 shadow-md w-full border-2 border-gray-300">
                                    <div class="text-center">
                                        <span class="text-5xl font-bold"> {{ msg.rollData.total }} </span>
                                    </div>

                                    <div class="text-center mt-1 mb-2">
                                        <span class="text-lg tracking-widest uppercase font-serif text-gray-800">
                                            {{ msg.rollData.outcome }}
                                        </span>
                                    </div>

                                    <hr class="border-gray-300 mb-2">

                                    <div class="text-sm">
                                        <p>1d12 (<span class="font-bold">{{ msg.rollData.dice1 }}</span>)</p>
                                         <p>1d12 (<span class="font-bold">{{ msg.rollData.dice2 }}</span>)</p>
                                        <p>Modificador (<span class="font-bold">{{ msg.rollData.modifier }}</span>)</p>
                                    </div>
                                </div>
                            } @else {
                                <div class="flex flex-row gap-2 pt-3">
                                <img src="assets/images.jpg" class=" w-8 h-8 rounded-full">
                                <div class="flex flex-col text-left">
                                    <p class="-mb-2">{{ msg.text }}</p>
                                    <div class="text-[10px] text-gray-400 mt-1"> 
                                        {{ msg.date | date:'HH:mm' }} 
                                    </div>
                                </div>
                            </div>
                            }
                        }
                    </div>
                </div>
                <div class="mt-auto text-white pl-2">
                    <textarea class="h-16 w-64 bg-slate-800 border-zinc-950 border-2 rounded-lg resize-none" [(ngModel)]="message" (keydown.enter)="onEnter($event)"></textarea>
                </div>
                <div class="flex flex-row pl-[0.5rem] gap-18">
                    <select class="text-white mb-4 bg-gray-800 rounded-sm">
                        <option>
                            Master (GM)
                        </option>
                        <option>
                            Character (PC)
                        </option>
                    </select>
                    <button class="text-white mb-4 px-2 py-2 bg-sky-950 rounded-lg hover:bg-sky-700" (click)="sendMessage()">
                        ENVIAR
                    </button>
                </div>
            </div>

        </mat-tab>
                <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="material-symbols-outlined text-white!">person_3</mat-icon>
            </ng-template>
        </mat-tab>
                <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="material-symbols-outlined text-white!">library_music</mat-icon>
            </ng-template>
        </mat-tab>
                <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="material-symbols-outlined text-white!">book_2</mat-icon>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
