<div class="flex flex-col w-90 text-center font-serif bg-black gap-[2px] border-[3px] border-black rounded-xl text-xs my-2 mx-2 shadow-stone-900 shadow-xl hover:shadow-2xl hover:-translate-y-1 hover:scale-[1.01] transition-shadow duration-400 ease-in-out overflow-hidden" cdkDrag>
    
    <div class="flex flex-col bg-indigo-900 gap-[2px]">
        <h1 class="text-white py-1 tracking-widest text-base font-bold cursor-grab active:cursor-grabbing" cdkDragHandle>Laços e Promessas</h1>
    </div>
    
    <div class="grid grid-cols-2 gap-[2px] bg-black text-white">
        
        <div class="flex flex-col gap-[1px] bg-black">
            <p class="bg-indigo-900 py-1 font-bold">Nome</p>
            @for (item of [0, 1, 2, 3, 4]; track $index) {
                <div class="bg-white h-7 flex items-center">
                    <input type="text" class="w-full h-full px-2 outline-none text-black text-sm text-center">
                </div>
            }
            <div class="bg-indigo-900 flex-1 flex items-center justify-center font-bold min-h-[2rem]">
                <p>Promessas</p>
            </div>
            @for (item of [0, 1, 2, 3, 4]; track $index) {
                <div class="bg-white h-7 flex items-center">
                    <input type="text" class="w-full h-full px-2 outline-none text-black text-sm text-center">
                </div>
            }
        </div>
        
        <div class="flex flex-col gap-[1px] bg-black">
            
            <div class="grid grid-cols-[1fr_2rem] gap-[1px] bg-black">
                <p class="bg-indigo-900 py-1 font-bold">Laço</p>
                <p class="bg-indigo-900 py-1 font-bold">Niv.</p>
            </div>
            
            @for (item of [0, 1, 2, 3, 4]; track $index) {
                <div class="grid grid-cols-[1fr_2rem] gap-[1px] bg-black h-7 text-black">
                    <div class="bg-white h-full flex items-center">
                        <input type="text" class="w-full h-full px-2 outline-none text-sm text-center">
                    </div>
                    <div class="bg-white h-full flex items-center text-2xl">
                        <input type="number" class="w-full h-full text-center outline-none text-sm font-bold">
                    </div>
                </div>
            }
            <div class="bg-indigo-900 flex-1 flex items-center justify-center font-bold min-h-[2rem]">
                <p>Progresso</p>
            </div>
            @for (item of [0, 1, 2, 3, 4]; track $index) {
                <div class="bg-indigo-900 h-7 flex items-center gap-[3px] justify-center">
                    <input type="checkbox" class="w-4 h-4 rounded cursor-pointer accent-indigo-600 bg-white">
                    <input type="checkbox" class="w-4 h-4 rounded cursor-pointer accent-indigo-600 bg-white">
                    <input type="checkbox" class="w-4 h-4 rounded cursor-pointer accent-indigo-600 bg-white">
                    <input type="checkbox" class="w-4 h-4 rounded cursor-pointer accent-indigo-600 bg-white">
                    <input type="checkbox" class="w-4 h-4 rounded cursor-pointer accent-indigo-600 bg-white">
                    <input type="checkbox" class="w-4 h-4 rounded cursor-pointer accent-indigo-600 bg-white">
                </div>
            }
        </div>
    </div>
</div>