/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import "@flaticon/flaticon-uicons/css/all/all.css";

.mdc-tab {
    min-width: 0 !important;
    padding: 0 !important;
}

.custom-vtt-dialog .mat-mdc-dialog-surface {
  resize: both !important; /* Permite esticar tanto na horizontal quanto na vertical */
  overflow: auto !important; /* Garante que o navegador mostre a alça de resize no canto inferior direito */
  min-height: 400px;
}

.custom-vtt-dialog .mdc-dialog__surface,
.custom-vtt-dialog .mat-mdc-dialog-surface,
.custom-vtt-dialog .mat-dialog-container {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    overflow: visible !important;
}